<!DOCTYPE html>
<html>
    <head>
        <title>Login Account</title>
        <link rel="stylesheet" href="./stylesheets/login.css">
    </head>
    <body>
        <div class="pg flex wood jc ac dircol fw fh">
            <div class="detail">
                <div class="block ctr bckfont l"><h2>login Acount</h2></div>
                <form action="/login" method="post">
                    <input type="email" class="block x in" name="Email" placeholder="Enter Email Id">
                    <input type="password" class="block x in" name="Password" placeholder="Enter Password">
                    <input type="submit" class="block x" value="login Acount">
                </form>
            </div>
        </div>
        <script src="trial.js"></script>
    </body>
</html>